{{ 'cat-description.css' | asset_url | stylesheet_tag }}

{% assign display_custom_string = true %}

{%- if product.metafields.cat.sex == blank or product.metafields.cat.age == blank 
    or product.metafields.cat.color == blank or product.metafields.cat.breed == blank 
    or product.metafields.cat.neutered == nil -%}
    {% assign display_custom_string = false %}
{%- endif -%}

{% if product.metafields.cat.sex == "female" %}
    {% assign pronoun = 'she' %}
{% else %}
    {% assign pronoun = 'he' %}
{% endif %}

{% assign ageNumber = product.metafields.cat.age %}
{% assign isYears = ageNumber > 12 %}
{% assign timeUnit = isYears %}
{% assign divisor = isYears ? 12 : 1 %}
{% assign ageValue = ageNumber | divided_by: divisor %}
{% assign unit = isYears ? "year" : "month" %}
{% assign plural = ageValue > 1 %}
{% assign age = ageValue | append: " " | append: unit | append: plural ? "s" : "" | append: " old" %}

{% if product.metafields.cat.neutered %}
    {% assign neutered = 'neutered' %}
{% else %}
    {% assign neutered = 'not neutered' %}
{% endif %}

{% capture custom_string %}
    <div class="cat-description">
        <p class="title">Meet <strong>{{ product.title }}</strong>, {{ product.metafields.cat.color }} {{ product.metafields.cat.breed }} 
        cat priced at just <span class="price">{{ product.price | money_without_trailing_zeros }}</span>!
       {{ pronoun | capitalize }}'s {{ age }} {{ neutered }} {{ product.metafields.cat.sex | downcase }}.</p>
        <p class="cta">Now is the perfect time to bring a new friend home!</p>
    </div>
{% endcapture %}

<div class="custom-cat-description">
    {% if section.settings.custom_description != blank %}
        {{ section.settings.custom_description }}
    {% elsif display_custom_string %}
        {{ custom_string }}
    {% else %}
        <p class="fallback-message">More information about this cat will be coming soon!</p>
    {% endif %}
</div>


{% schema %}
    {
        "name": "Cat Description",
        "settings": [
            {
                "id": "custom_description",
                "type": "text",
                "label": "Custom Description"
            }
        ],
        "presets": [
            {
                "name": "Cat Description"
            }
        ]
    }
{% endschema %}    